/* latin */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 100 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v21/zYXzKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1syxeKYbSB4Zh.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 241, 241);
    font-family: "IBM Plex Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(110, 108, 108);
}

p {
    text-decoration: none;
    color: rgb(110, 108, 108);
}


.page {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    margin: 0 auto;
}

.header {
    height: 40px;
    text-align: center;
    align-content: center;
    margin-right: 10px;
    font-size: 18px;
}

.list-container {
    width: 50%;
    height: 100vh;
    display: flex;
    overflow-y: auto;
}

.list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 3fr 1fr;
    float: left;
}

.list-item:hover {
    color: rgb(251, 208, 12);
}

.list-item.selected {
    font-weight: bold;
    color: rgb(255, 208, 0);
}

.year-show {
    visibility: visible;
    float: left;
    margin: 5px;
}

.year-noshow {
    visibility: hidden;
    float: left;
    margin: 5px;
}

.category {
    text-align: right;
    float: left;
    margin: 5px;
    margin-right: 10px;
}

.project-name {
    float: left;
    margin: 5px;
    overflow: hidden;
}

.bio-header {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 3fr 1fr;
    float: left;
    position: sticky;
    bottom: 50px;
}

.bio-contact {
    display: none;
    color: black;
}

.bio-contact.selected {
    width: 100%;
    display: grid;
    grid-template-columns: 75px 3fr 1fr;
    float: left;
}

.description {
    display: none;
    color: black;
}

.description.selected {
    width: 100%;
    display: grid;
    grid-template-columns: 75px 3fr 1fr;
    float: left;
}

.role {
    font-weight: bold;
    color: rgb(110, 108, 108);
}

.content-container {
    float: left;
    width: 50%;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}

.project {
    float: left;
    margin: 5px 5px 50px 5px;
    overflow: hidden;
}

.article-image {
    float: left;
    width: 100%;
    height: 0 auto;
    margin: none;
}

.half-image {
    float: center;
    width: 50%;
    height: 0 auto;
    margin: none;
}

.caption {
    font-size: 10px;
    text-decoration: none;
    color: rgb(110, 108, 108);
}

.end-text {
    font-size: 14px;
    margin: 10px 10px 60px 10px;
    text-decoration: none;
    color: rgb(110, 108, 108);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    border: none;
}

.bio {
    height: 100vh;
    width: 100%;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        background-color: #f09a9d
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: #f5cf8e
    }

    .list-container {
        width: 100%;
        height: 50vh;
        overflow-y: auto;
    }

    .content-container {
        width: 100%;
        height: 50vh;
        /* overflow-x: auto; */
        overflow-y: hidden;
    }

    .content {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        overflow-x: auto;
    }

    .project {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 0%;
    }

    .article-image {
        flex: 0 0 auto;
        width: 100%;
        height: 0 auto;
        margin: none;
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        /* 16:9 Aspect Ratio */
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        border: none;
        width: 100%;
        height: 100%;
        border: none;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
    body {
        background-color: #b2d6ff
    }
}