* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 241, 241);
    font-family: "Suisse", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(110, 108, 108);
}

.page {
    position: fixed;
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 40px;
    padding-left: 10px;
    align-content: center;
}

.list-container {
    width: 50%;
    display: flex;
}

.list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 3fr 1fr;
    float: left;
}

.list {
    height: 0 auto;
}

.year-show {
    visibility: visible;
    float: left;
    margin: 5px;
}

.year-noshow {
    visibility: hidden;
    float: left;
    margin: 5px;
}

.project {
    float: left;
    margin: 5px;
}

.category {
    float: right;
    text-align: right;
    margin: 5px;
    padding-right: 20px;
}

.content-container {
    float: left;
    width: 50%;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}

.article-image {
    float: left;
    width: 100%;
    height: 0 auto;
    margin: none;
}